<section class="bar background-white">
    <div class="container">

                <div class="heading text-center">
                    <h2>How to get the Toolkit?</h2>
                </div>
                
        <div class="col-md-12">
            <div class="row">
        
                <div class="col-md-6">
                    <div class="box-simple">
                        
                            <div class="icon">
                                <i class="fas fa-desktop"></i>
                            </div>
                        
                        <h3>Chinese Digital Version</h3>
                        <p>You can download the Chinese Version of the Talent Management Toolkit for Universities from the following <a href="http://atm.talentinasia.org/documentation/Talent_Management_Toolkit_vChinese.zip" target="_blank">link</a> </p>
                    </div>
                </div>
        
        
        
                <div class="col-md-6">
                    <div class="box-simple">
                        
                            <div class="icon">
                                <i class="fas fa-desktop"></i>
                            </div>
                        
                        <h3>English/Malaysian Digital Version</h3>
                        <p>You can download the English/Malaysian Version of the Talent Management Toolkit for Universities from the following <a href="http://atm.talentinasia.org/documentation/Talent_Management_Toolkit_vMalaysia.zip" target="_blank">link</a> </p>
                    </div>
                </div>
        
        
        
                <div class="col-md-6">
                    <div class="box-simple">
                        
                            <div class="icon">
                                <i class="fas fa-box-open"></i>
                            </div>
                        
                        <h3>Chinese Physical Version</h3>
                        <p>You can buy the Physical Chinese Version of the Talent Management Toolkit for Universities at the following <a href="https://www.thegamecrafter.com/games/talent-management-toolkit-for-chinese-universities" target="_blank">link</a></p>
                    </div>
                </div>



                <div class="col-md-6">
                    <div class="box-simple">
                        
                            <div class="icon">
                                <i class="fas fa-box-open"></i>
                            </div>
                        
                        <h3>English/Malaysian Physical Version</h3>
                        <p>You can buy the Physical English/Malaysian Version of the Talent Management Toolkit for Universities at the following <a href="https://www.thegamecrafter.com/games/talent-management-toolkit-for-malaysian-universities" target="_blank">link</a></p>
                    </div>
                </div>
                
                

        
            </div>
        </div>
</section>
    <!-- /.row -->


