<section class="bar background-white">
    <div class="container">
        
        <div class="col-md-12">
            <div class="row">
        
                <div class="col-md-4">
                    <div class="box-simple">
                        
                            <div class="icon">
                                <i class="fas fa-users"></i>
                            </div>
                        
                        <h3>Talent Management Practices</h3>
                        <p>The observatory contains more than 100+ talent management practices (objectives and actions) for universities.</p>
                    </div>
                </div>
        
        
        
                <div class="col-md-4">
                    <div class="box-simple">
                        
                            <div class="icon">
                                <i class="fas fa-rss-square"></i>
                            </div>
                        
                        <h3>News about Talent Management</h3>
                        <p>The observatory publish news, academic references, and practitioner reports about talent management.</p>
                    </div>
                </div>
        
        
        
                <div class="col-md-4">
                    <div class="box-simple">
                        
                            <div class="icon">
                                <i class="fas fa-tools"></i>
                            </div>
                        
                        <h3>Tool Kit for Talent Management</h3>
                        <p>The observatory offers a complete tool kit for developing talent management practices in universities.</p>
                    </div>
                </div>
        
            </div>
        </div>
</section>
    <!-- /.row -->


