<div class="container" id="project">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>What is this Observatory?</h2>
                </div>

               <p class="lead">
                  The online Observatory of Talent Management Practices in Asian Universities is a place where academics, non-academics, professionals, and any stakeholder can share their knowledge and experiences with the university community. 
                </p> 
                  
                <p class="lead">               
                  On the one hand, the observatory compiles a list of best practices on talent management in universities with the necessary information to implement them efficiently. Furthermore, these best practices contain a description of possible barriers to their adoption and metrics for their monitoring. On the other hand, the observatory publishes regular news, academic references, scientific conferences, and practitioner reports about talent management practices in general and in the specific case of universities.
                </p> 
                
                 <p class="lead"> 
                  This observatory is one of the outputs of the project aTM (Promoting Modern Talent Management Practices in Asian Higher Education institutions.), which overall aim was to improve the activities and processes that involve the systematic attraction, identification, development, engagement, retention, and deployment of those employees which are of particular value to Asian universities to create sustainable strategic success. The project was co-founded by the Erasmus+ Programme of the European Union (Project Ref.: 598111-EPP-1-2018-1-ES-EPPKA2-CBHE-JP).
                </p>
            </div>
        </div>
    </div>
    
    
   
    <!-- /.row -->
</div>

