<div class="container" id="submit">



    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Do you Want to Collaborate in the Observatory?</h2>
                </div>

                <p class="lead">
The online Observatory of Talent Management Practices in Asian Universities is a place where academics, non-academics, professionals, and any stakeholder can share their knowledge and experiences with the university community. Therefore, the observatory is open to anyone who wishes to collaborate and contribut. 

There are three types of possible collaborations:</p> 
<ul>
    <li><p class="lead">Adding a new News item on Talent Management in Universities.</p> </li>
    <li><p class="lead">Adding a new Talent Management Practice in Universities.</p></li>
    <li><p class="lead">Updating or improving some of the current Talent Management Practices in Universities.</p></li>
    <li><p class="lead">Providing recommendations for the future.</p></li>
</ul>

                <p class="lead">    <br>
All collaborating individuals, universities, institutions, and companies are listed below. If you are interested in participating and collaborating with the observatory, you can use the following form. We will get back to you as soon as possible. And thank you very much for your interest and collaboration.</p> 
 
                 <p class="text-center">
                    
                     <a href="
https://myenquesta.upc.edu/index.php/516763?lang=en" target="_blank"><button type="button" class="block" style="width: 100%; background-color: #467fbf;cursor: pointer; padding: 14px 5px; color: white"><p><big><strong>Click here to Collaborate!</strong></big></p></button></a> <br><br><br><br>
                   
                </p> 
                

                
                <!-- /.owl-carousel -->
            </div>
        </div>
    </div>
    
    <div class="heading text-center">
                    <img src="/img/others/tablet_world.png" style="width:70%;" class="center"> </p> <br><br>
                    <h2>Who has participated?</h2>
                </div>
    <div class="row">
            <section>
                {{ .Content }}
            </section>
    </div>
    
    <!-- /.row -->
</div>

