<div class="container" id="toolkit">

    <div class="row">
            <section>
                {{ .Content }}
            </section>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>About the Toolkit</h2>
                </div>

                <p class="lead">
                  The toolkit for the development of talent management practices has been developed in collaboration with several Asian and European universities. The toolkit provides the necessary tools to conduct working sessions to establish a strategic plan and an action plan for a university's workforce. There is physical edition that you can buy it online, and an online community edition that you can downlowed freely.</p> 
                
                 <img src="/img/others/game_01.png" style="width:90%;" class="center">   

                <!-- /.owl-carousel -->
            </div>
        </div>
    </div>
    
    
    <div id="all">

        {{ partial "features.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "testimonials.html" . }}

    </div>    
    <!-- /.row -->
</div>

